<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Indictus.Template.Exe.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Indictus.Template.Exe.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Indictus.Template.Exe.My.MySettings>
            <setting name="ApplicationLanguage" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="ConfirmExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogEmptyOnStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveSettingsOnExit" serializeAs="String">
                <value>True</value>
            </setting>
        </Indictus.Template.Exe.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Indictus.Template.Exe.My.MySettings>
            <setting name="ApplicationName" serializeAs="String">
                <value>Indictus.Template.Exe</value>
            </setting>
            <setting name="DBDataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="DBInitialCatalog" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="DBTableOwner" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUserId" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailEnableSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EmailFromAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailSendTimeoutSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="EmailServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailServerPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value>ExeTemplate_log.txt</value>
            </setting>
            <setting name="LogFolderPath" serializeAs="String">
                <value>C:\Wartsila\Indictus.Template.Exe\log\</value>
            </setting>
            <setting name="LogThrowException" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TestMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VersionString" serializeAs="String">
                <value>v0.01</value>
            </setting>
        </Indictus.Template.Exe.My.MySettings>
    </applicationSettings>
</configuration>
